@keyframes bounce {
  0% { transform: scale(1.1); opacity: 1 }
  50% { transform: scale(1.6); opacity: .7; }
  60% { transform: scale(0.6); opacity: 1 }
  80% { transform: scale(0.95) }
  100% { transform: scale(0.85) }
}

.bounce {
  animation: bounce 1s .5s;
  transform: scale(0.85);
}

.react-revolver-menu {
    /**
  * Position icons into circle (SO)
  * http://stackoverflow.com/q/12813573/1397351
  */
  .circle-container {
    position: relative;
    border-radius: 50%;
    margin: 1.75em auto 0;
  }

  .circle-container .menu-item {
    transition: all .5s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: absolute;
    top: 50%; left: 50%;
    width: 4em; height: 4em;
    text-align: center;
    line-height: 4em;
    margin: -2em; /* 2em = 4em/2 */ /* half the width */
    opacity: 0;
    cursor: pointer;
  }

  .circle-container .menu-item.show {
    opacity: 1;
  }

  .circle-container img { display: block; width: 100%; }

}
